# Dependencies
node_modules/

# Expo
.expo/
# generated native projects (Continuous Native Generation)
/ios
/android
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env
.env*.local

# Test coverage
coverage/

# CanvasKit WASM for Skia on web (copied from node_modules on install)
public/canvaskit.wasm
